:root{
  --background-body: hsl(277, 69%, 5%);
  --text-default: hsl(0, 0%, 92%);
  --text-tnp: hsla(0, 0%, 95%, 0.6);
  --green-background: hsla(240, 4%, 14%, 0.3);

  /* cor dos card */
  --bs-blue: #1ba2f6;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #ea39b8;
  --bs-red: #e44c55;
  --bs-orange: #f1b633;
  --bs-yellow: #ffc107;
  --bs-green: #3cf281;
  --bs-teal: #3f81a2;
  --bs-cyan: #32fbe2;
  --bs-dark: #170229;


  --azul-ceu-cyber: #22A0B6;
  --azul-claro-cyber: #133E7C;
  --azul-noite-cyber: #051A2D;
  --rosa-claro-cyber: #E93BAE;
  --roxo-escuro-cyber: #1D1546;
  --roxo-claro-cyber: #7805DB;
  --roxo-cyber: #3E1A63;
  --verde-claro-cyber: #22D1A3;
  --verde-escuro-cyber: #1A6352;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body{
  background-color: var(--background-body);
  overflow: hidden;
  color: var(--text-default);
}

/* bootstraap */
div.container-fluid{
  padding: 0rem;
}
i{
  color: var(--text-default);
}
/* header */
header{
  background-color: var(--bs-dark);
  height: 70px;
}
div.logo{
  margin-top: 14px;
}

/* nav - task fast e icon user*/
nav{
  background-color: var(--bs-dark);
  color: var(--text-tnp);
  padding: 10px 20px;
}
nav i{
  font-size: 20pt;
}
.input-group{
 border-color: var(--azul-ceu-cyber);
}

/* input */
input.form-control, input.form-control:hover, .form-control:focus{
  border-color: var(--background-body);
  background-color: var(--green-background);
  
  border-radius: 12px;
}
input.form-control:focus, input.form-control:hover{
  color: var(--text-default);
  box-shadow: 0 0 0 0;
}
input.form-control::placeholder{
  font-size: 12pt;
  font-weight: 400;
  color: var(--text-tnp);
}
input.form-control::placeholder, .form-control:hover{
  color: var(--text-tnp); 
}


.position{
  position: relative;
  background-color: var(--background-body);
  height: 100vh;
}

/* aside - sidebar */
.sidebar{
  background-color: var(--bs-dark);
  box-shadow: 0 0 2px rgb(111 66 193 / 90%), 0 0 4px rgb(111 66 193 / 40%), 0 0 1rem rgb(111 66 193 / 30%), 0 0 4rem rgb(111 66 193 / 10%);
  position: relative;

  height: 100vh;
  width: 15vw;
  padding: 15px 2px;
  transition: all 0.3s ease;
}

/* barra lateral */
/* 
.sidebar .bx-left-arrow{
  background-color: var(--azul-noite-cyber);
  position: absolute;
  width: 50px;
  height: 263.85px;
  border-radius: 0px 12px 12px 0px;
  cursor: pointer;
  
  line-height: 250px;
  text-align: center;
  font-size: 26px;
  color: var(--verde-claro-cyber);
  
  transform: translate(-50%);
  top: 35%;
  left: 280px;

}
 */

/* dropdown */
.nav-list, .nav-list li{
  list-style: none;
}
.nav-list ul li{ 
  /* esconder */
  display: none;
}
.nav-list li:hover ul li{ 
  /* mostrar */
  display: block;
}
.nav-list li ul{
  display: block;
}

/* add lista de tarefa */
div.list-plus i{
  font-size: 17pt;
  color: var(--text-tnp);
}
div.list-plus{
  position: relative;
  width: 150px;
}
.btn-plus{
  position:absolute;
  bottom: 0; right:0; top: 0;

  z-index: 0;
  border:none;
  background:transparent;
  outline:none;
}
.inp-list-plus{
  width: 130px;
  height: 35px;
}
div.list-plus input{
  width: 100%;
}
.hide{
  display: none;
}

/* aside */
.sidebar ul li a{
  position: block;
  align-items: center;
  border-radius: 20px;
  white-space: nowrap;
  transition: all 0s ease-in;
}

.sidebar ul li a:hover{
  color: var(--verde-claro-cyber);
  /* ideia para efeito
  background-color: white;*/
}

.sidebar ul li i{
  min-width: 29px;
  height: 50px;
  line-height: 50px;
  border-radius: 12px;

}
.bx-chevron-down{
  padding: 3px;
}

a{
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
}

.tGrupo{
  position: absolute;
  left: 0;
  bottom: 25%;
  width: 100%;
  padding: 14px 20px;
}

/* main */
main{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 230px;
  background-image: linear-gradient(#17082e 0%, #1a0933 7%, #1a0933 80%, #0c1f4c 100%);
  box-shadow: 0 0 2px rgb(111 66 193 / 90%), 0 0 4px rgb(111 66 193 / 40%), 0 0 1rem rgb(111 66 193 / 30%), 0 0 4rem rgb(111 66 193 / 10%);
}

/* lista de tarefas */
.list-task{
  margin-top: 30px;
  margin-left: 20px;
}

div.card{
  border-radius: 20%/12%;
  /* clip-path: polygon(34% 8%, 48% 0, 100% 0, 100% 74%, 91% 50%, 79% 50%, 28% 100%, 26% 23%); */
  width: 200px;
  height: 200px;

  background-color: transparent;
  box-shadow: 0 0 2px rgb(228 76 85 / 90%), 0 0 4px rgb(228 76 85 / 40%), 0 0 1rem rgb(228 76 85 / 30%), 0 0 4rem rgb(228 76 85 / 10%);
}

/* article - calendario */
div.article{
  background-color: var(--verde-claro-cyber);
}




/* media querius tablet - 767 minimo do web */
@media(min-width: 769px) and (max-width: 1024px){
 
  
}

/* media querius mobile - 767 max do web */
@media(min-width: 375px) {

}

