:root{
  --azul-ceu-cyber: #22A0B6;
  --azul-claro-cyber: #133E7C;
  --azul-noite-cyber: #051A2D;
  --rosa-claro-cyber: #E93BAE;
  --roxo-escuro-cyber: #1D1546;
  --roxo-claro-cyber: #7805DB;
  --roxo-cyber: #3E1A63;
  --verde-claro-cyber: #22D1A3;
  --verde-escuro-cyber: #1A6352;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0F0416;

  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  color: aliceblue;
}

/* nav */
nav{
  background-color: var(--azul-noite-cyber);
  border-radius: 50px;
  display: block;

  width: 40%;
  top: 14px;
  left: 100px;
  margin-left: 30%;
  margin-right: 50%;

  padding: 10px 20px;
}

/* sidebar */
aside{
  position: fixed;
  background-color: var(--azul-noite-cyber);
  border-radius: 20px;
  display: block;

  padding: 10px 20px;
  
  height: 100vh;
  width: 200px;

}

.sidebar{
  left: 0;
  top: 0;
  height: 100%;
  transition: all 0.3s ease;
} 

a{
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar .logo-container .logo{
  width: 100%;
  height: 50px;
  display: block;
  align-items: center;
  font-size: 23px;
  margin-left: 20px;
}

.sidebar .bx-left-arrow{
  position: absolute;
  top: 35%;
  left: 220px;
  transform: translate(-50%);
  width: 50px;
  height: 263.85px;
  line-height: 250px;
  text-align: center;
  font-size: 27px;
  cursor: pointer;
  /*para saber que o elemento é clicavel, mãozinha*/
  color: var(--verde-claro-cyber);
  background-color: var(--azul-noite-cyber);
  border-radius: 0px 12px 12px 0px;
}

.sidebar ul{
  margin-top: 30px;
}

.sidebar li{
  list-style-type: none;
  font-size: 18px;
}

.sidebar ul li{
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 7px;
}

/* barra de pesquisa

.sidebar ul li input{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  outline: none;
  background: 
}

*/

.sidebar ul li a{
  align-items: center;
  border-radius: 20px;
  white-space: nowrap;
  transition: all 0s ease-in;
}

.sidebar ul li a:hover{
  color: var(--verde-claro-cyber);
  /* ideia para efeito
  background-color: white;*/
}

.sidebar ul li i{
  min-width: 29px;
  height: 50px;
  line-height: 50px;
  border-radius: 12px;

}

.bx-chevron-down{
  padding: 3px;
}

.profile-container{
  color: var(--azul-note-cyber);
  position: absolute;
  bottom: 0;
  left: 0;
}

.tGrupo{
  position: absolute;
  left: 0;
  bottom: 30%;
  width: 100%;
  padding: 10px;
}

.tGrupo .bxs-user-circle{
  font-size: 36px;
  padding: 6px;
  padding-right: 1px;
}